<app-navbar></app-navbar>


<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background" style="padding-top: 8%">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">

          <form name="inventoryForm">

            <!-- Heading -->
            <h2 *ngIf="!form.data.id" class="text-primary text-center font-weight-bold">
              {{ 'Add Inventory' | translate }}
            </h2>

            <h2 *ngIf="form.data.id" class="text-primary text-center font-weight-bold">
              {{ 'Update Inventory' | translate }}
            </h2>

            <!-- Messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger">
              {{ form.message }}
            </div>

            <div *ngIf="!form.error && form.message" class="alert alert-success">
              {{ form.message }}
            </div>

            <!-- Supplier Name -->
            <div class="form-group pt-2">
              <label>
                <b>{{ 'Supplier Name' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-user grey-text"></i>
                  </div>
                </div>

                <input type="text"
                       name="supplierName"
                       [(ngModel)]="form.data.supplierName"
                       class="form-control"
                       maxlength="30"
                       placeholder="Enter Supplier Name">
              </div>

              <span *ngIf="form.inputerror?.supplierName" class="alertRedColor">
                {{ form.inputerror.supplierName }}
              </span>
            </div>

            <!-- Date -->
            <div class="form-group pt-2">
              <label>
                <b>{{ 'Date' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>

                <input type="date"
                       name="dob"
                       [value]="form.data.dob | date:'yyyy-MM-dd'"
                       (input)="form.data.dob=parseDate($event.target.value)"
                       class="form-control">
              </div>

              <span *ngIf="form.inputerror?.dob" class="alertRedColor">
                {{ form.inputerror.dob }}
              </span>
            </div>

            <!-- Quantity -->
            <div class="form-group pt-2">
              <label>
                <b>{{ 'Quantity' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-sort-numeric-up"></i>
                  </div>
                </div>

                <input type="text"
                       name="quantity"
                       [(ngModel)]="form.data.quantity"
                       class="form-control"
                       maxlength="10"
                       placeholder="Enter Quantity">
              </div>

              <span *ngIf="form.inputerror?.quantity" class="alertRedColor">
                {{ form.inputerror.quantity }}
              </span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Product' | translate }}</b>
                <span class="required-field"></span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-venus grey-text"></i>
                  </div>
                </div>

                <select class="form-control" name="product" id="product" [(ngModel)]="form.data.product"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="Laptop">{{'Laptop' | translate }}</option>
                  <option value="Mobile">{{'Mobile' | translate }}</option>
                   <option value="Keyboard">{{'Keyboard' | translate }}</option>
                    <option value="Mouse">{{'Mouse' | translate }}</option>
                  <option value="Headphones">{{'Headphones' | translate }}</option>
                </select>
              </div>

              <span *ngIf="form.inputerror.product" class="alertRedColor">
                {{ form.inputerror.product }}
              </span>
            </div>

            <!-- Buttons -->
            <div class="row pt-2 pl-2 pb-3">

              <div class="col-md-3"></div>

              <div class="pt-2">
                <button *ngIf="!form.data.id > 0"
                        (click)="submit()"
                        class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>

              <div class="col-md-1"></div>

              <div class="pt-2">
                <button *ngIf="form.data.id > 0"
                        (click)="submit()"
                        class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>

              <div class="pt-2">
                <a class="btn btn-warning mr-1"
                   [routerLink]="['/inventorylist']"
                   style="color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>

            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>