<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background" style="padding-top: 8%">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">
          <form name="assetForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add Bank' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update Bank' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <!-- Name Field with Validation -->

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Account Holder' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>

                <input type="text" name="accountHolder" [(ngModel)]="form.data.accountHolder" class="form-control"
                  #name="ngModel" maxlength="20" pattern="^[A-Za-z ]+$"
                  (keydown)="filterInputS($event, 'errorMessageName', 20, 'char')"
                  placeholder="{{ 'Enter accountHolder' | translate }}">
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.accountHolder" class="alertRedColor">{{ form.inputerror.accountHolder
                }}</span>
            </div>


            <div class="form-group pt-2">
              <label>
                <b>{{ 'Account Number' | translate }}</b>
                <span class="required-field">*</span>
              </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-map-marker grey-text"></i></div>
                </div>
                <input type="text" name="accountNumber" [(ngModel)]="form.data.accountNumber" class="form-control"
                  maxlength="35" placeholder="{{ 'Enter accountNumber' | translate }}">
              </div>
              <span *ngIf="form.inputerror.accountNumber" class="alertRedColor">{{ form.inputerror.accountNumber
                }}</span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'AccountType' | translate }}</b>
                <span class="required-field"></span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-venus grey-text"></i>
                  </div>
                </div>

                <select class="form-control" name="accountType" id="accountType" [(ngModel)]="form.data.accountType"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="Saving">{{'Saving' | translate }}</option>
                  <option value="Current">{{'Current' | translate }}</option>
                  <option value="Fixed Deposit">{{'Fixed Deposit' | translate }}</option>
                </select>
              </div>

              <span *ngIf="form.inputerror.accountType" class="alertRedColor">
                {{ form.inputerror.accountType }}
              </span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Balance' | translate }}</b>
                <span class="required-field">*</span>
              </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-map-marker grey-text"></i></div>
                </div>
                <input type="text" name="balance" [(ngModel)]="form.data.balance" class="form-control" maxlength="35"
                  placeholder="{{ 'Enter balance' | translate }}">
              </div>
              <span *ngIf="form.inputerror.balance" class="alertRedColor">{{ form.inputerror.balance }}</span>
            </div>


            <div class="row pt-2 pl-2 pb-3">

              <div class="col-md-3"></div>

              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>

              <div class="col-md-1"></div>

              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>

              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/banklist']"
                  style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>